// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Place all the styles related to the Team controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@charset "utf-8";
.team-profile-icon {
  position: relative;

}
.team-profile-icon img{
  filter: opacity(30%);
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.team-name {
  position: absolute;
  top:20%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size:30px;
  color: rgb(0, 0, 0);
  padding:0;
  margin:0;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 5px #363636;
  font-weight: bold;
}
.team-profile {
  position: absolute;
  top:40%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size:20px;
  color: rgb(35, 35, 35);
  padding:0;
  margin:0;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.team-profile-edit .button{
  position: absolute;
  top:80%;
  left:46%;
  transform: translate(-50%,-50%);
  display: inline-block;
  margin: 10px;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #000000;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #000000;
  text-align: center;
  width: 50%;
}
.team-certificationID{
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
}
.team-members-title {
  text-align: center;
}
.team-members {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
}
.member{
  width: 80px;
  height: 80px;
  margin: 10px;
}
.member-icon{
  margin-left: 10px;
}

.member-icon img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.member-name{
  text-align: center;
}
.member-name {
  font-size: 10px;
  text-align: center;
  font-weight: bold;
  overflow: hidden
}

.teams-index-box{
  display: flex;
  background-color: #FFF;
  flex-flow: column;
}
.teams-index-title{
  text-align: center;
}
.teams{
  display: flex;
  flex-wrap: wrap;
}
.team{
  margin: 20px;
  display: flex;
  flex-flow: column;
  width: 200px;
  height: 200px;
  align-items: center;
}
.team-icon-index img{
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.team-registration{
padding-left: 10px;
}
.team-registration .button{
  display: inline-block;
  margin: 10px;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #000000;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #000000;
  
}
.team-name-index {
  font-size:15px;
  color: rgb(0, 0, 0);
  padding:0;
  margin:0;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.teamboardlink{
  background-color:rgb(88, 88, 88);
  color: rgb(255, 255, 255);
  padding: 3px;
  text-align: center;
  font-size: 12px;
}
@media (max-width: 800px) {
  .team-icon-index img{
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  .team-registration{
    display: none;
  }
  .team-members {
    display: flex;
    flex-wrap: wrap;
  }
  .teams-index-box{
    display: flex;
    background-color: #FFF;
    flex-flow: column;
  }
  .teams-index-title{
    text-align: center;
  }
  .teams{
    display: flex;
    flex-wrap: wrap;
  }
  .team{
    margin: 5px;
    display: flex;
    flex-flow: column;
    flex-basis: 25%;
    align-items: center;
    height: auto;
  }
  .team-members {
    margin-left: 2px;
  }
  .member{
    width: 80px;
    height: 80px;
    margin: 5px;
  }

  .member-name {
    font-size: 4px;
    text-align: center;
    font-weight: bold;
    overflow: hidden
  }
  .team-icon-index img{
    object-fit: cover;
  }
  .team-registration{
    padding-left: 10px;
  }
  .team-registration .button{
    margin: 10px;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #000000;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border: solid 2px #000000;
    
  }
  .team-name-index {
    font-size:1rem;
    color: rgb(0, 0, 0);
    padding:0;
    margin:0;
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
}
