<div class="first-view">
  <div class="first-view-text">
    <h1>For All Ultimate Players and Teams</h1>
  </div>
</div>
<div class="introduction">
  <p>
    Ulti（アルティ）はアルティメット専用の掲示板です。<br>練習や試合の反省、プレーの言語化、役職の引き継ぎなど幅広く使用することができます。
  </p>
</div>
