.footer {
  color: white;
  background-color: black;
  padding-top: 30px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.footer-logo img{
  display: block;
  width: 100px;
}
.copyright {
  font-size: 14px;
  font-weight: bold;
}
@media (max-width: 800px) {
  .footer-logo {
    display: none;
  }
}
